<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xyz.eulix.space">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <application
        android:name=".EulixSpaceApplication"
        android:allowBackup="true"
        android:icon="@mipmap/eulix_space_launcher_v3"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/eulix_space_launcher_round_v3"
        android:supportsRtl="true"
        android:theme="@style/EulixSpaceTheme"
        tools:replace="icon,label,android:allowBackup">

        <activity
            android:name=".ui.TransferLogShowActivity"
            android:exported="false" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="eulix_channel_id"
            android:value="${EULIX_CHANNEL}" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="space.ao.client.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name=".database.EulixSpaceProvider"
            android:authorities="space.ao.client.database"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".EulixSpaceLaunchActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="eulixspace"
                    android:path="/startapp"
                    android:port="4001"
                    android:scheme="bravephoenix" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.EulixMainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|uiMode"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityStatusBarImmersion" />
        <activity
            android:name=".EulixDeviceListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityNoAnimationTheme" />
        <activity
            android:name=".EulixFindDeviceActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityDialogNormalDimTheme" />
        <activity
            android:name=".EulixSpaceInitActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LocalAlbumListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LocalMediaSelectActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.authorization.GranterLoginActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.authorization.GranteeLoginActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TransferListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.FileSearchActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.UserInfoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.AboutUsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.DeviceManageActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.FilePreviewActivity"
            android:configChanges="keyboard|orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/EulixSpaceTransparent" />
        <activity
            android:name=".ui.mine.ClipImageActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name=".ui.mine.GalleryPictureSelectActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.NickOrSignatureEditActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ExoPlayerActivity"
            android:configChanges="keyboardHidden|screenSize|orientation|keyboard|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ui.UnbindVerifyCheckActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.SystemUpdateActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.AutoUpdateSettingActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bind.FindBoxActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityDialogNormalDimTheme" />
        <activity
            android:name=".ui.bind.DistributeNetworkActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bind.SecurityPasswordSettingActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bind.BindResultActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bind.UnbindDeviceActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.EulixWebViewActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ScreenShotActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTransparent" />
        <activity
            android:name=".ui.bind.LanBindBoxActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bind.LanFindBoxActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityDialogNormalDimTheme" />
        <activity
            android:name=".ui.mine.RecycleBinActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ConfirmDialogThemeActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityDialogNormalDimTheme" />
        <activity
            android:name=".ui.mine.LoginTerminalActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.MessageSettingsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.EulixSettingsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.security.EulixSecuritySettingsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.security.ModifySecurityPasswordActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.security.EulixAuthenticationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.security.LanVerificationActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.security.SimpleHardwareVerificationActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.EulixCommonInputActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.security.ApplicationLockSettingActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.developer.DeveloperOptionsActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bind.DiskInitializationActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bind.NetworkConfigurationActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bind.IPConfigurationActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.developer.SpacePlatformEnvironmentActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.developer.SpacePlatformInputActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.EulixCommonInputMatchActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.privacy.EulixPrivacyActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.privacy.EulixPermissionManagerActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.general.EulixGeneralActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.general.EulixLanguageSettingsActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.EulixImageActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityImmersion" />
        <activity android:name=".ui.bind.AODeviceBindActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.bind.AODeviceFindActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.bind.AOLocaleSettingsActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.bind.AODeviceInitialActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.AOSpaceInformationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.AOSecurityPasswordActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.AOSpaceAccessActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.AOCompleteActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name=".did.ui.SpaceAccountActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name=".did.ui.CredentialInformationActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EulixForeActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/ActivityTransparent">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="aospace" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="ao.space"
                    android:pathPattern="/invite/.*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.authorization.GranterAuthorizationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.security.GranterSecurityPasswordAuthenticationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.FileShareActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/EulixSpaceTransparent" />
        <activity
            android:name=".ui.mine.MessageCenterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mine.BoxSystemDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PermissionActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:theme="@style/EulixSpaceTransparent" />
        <activity
            android:name=".ui.authorization.LanIpInputActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <service
            android:name=".EulixSpaceService"
            android:exported="false">
            <intent-filter>
                <action android:name="space.ao.client.action.JOB" />
                <action android:name="space.ao.client.action.LAUNCH" />
                <action android:name="space.ao.client.action.TOKEN" />
                <action android:name="space.ao.client.action.STORAGE" />
            </intent-filter>
        </service>
        <service
            android:name=".EulixSpaceJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".EulixSpaceLanService"
            android:exported="false" />
    </application>

</manifest>